<!doctype html>
<html lang="en" style="background-color: {{ bg_color }};">
<head>
  <meta charset="utf-8">
  <title>acute commute</title>
  <meta name="description" content="acute commute">

  <!-- Google Analytics Content Experiment code -->
  <script>function utmx_section(){}function utmx(){}(function(){var
  k='152386152-0',d=document,l=d.location,c=d.cookie;
  if(l.search.indexOf('utm_expid='+k)>0)return;
  function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
  indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
  length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
  '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
  '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
  '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
  valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  </script><script>utmx('url','A/B');</script>
  <!-- End of Google Analytics Content Experiment code -->

  <!-- bower stylesheets -->
  <link rel="stylesheet" href="/static/bower_components/animate.css/animate.min.css">
  <link rel="stylesheet" href="/static/bower_components/materialize/dist/css/materialize.min.css">

  <!-- custom stylesheets -->
  <link rel="stylesheet" href="/static/css/main.css">

  <!-- bower scripts -->
  <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/static/bower_components/materialize/dist/js/materialize.min.js"></script>

  <!-- Google Analytics Tracking Script -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-100558691-1', 'auto');

    // custom dimensions
		var local_date_and_time = new Date()
    ga('set', 'local_date_and_time', local_date_and_time);

		var local_hour = new Date().getHours()
    ga('set', 'local_hour', local_hour);

    function getTimeZone() {
      return /\((.*)\)/.exec(new Date().toString())[1];
    }

		var local_timezone = getTimeZone()
    ga('set', 'local_timezone', local_timezone);

    ga('send', 'pageview');
  </script>
</head>

<body>
  <div class="container">
    <div class="row valign-wrapper">
      <div class="col s12" id="card-holder">

        <!-- form-card -->
        <div class="card blue-grey darken-1" id="form-card" onmouseover="ga('send', 'event', 'form-card', 'mouseover'); console.log('event sent'); this.onmouseover = null;">
          <div class="card-content white-text">
            <span class="card-title">Acute Commute</span>
            <!-- directions-form -->
            <div class="row">
              <form class="col s12" id="directions-form">
                <div class="row">
                  <div class="input-field col s12">
                    <input placeholder="101 Howard Street San Francisco" id="start" name="start" type="text" >
                    <label for="start">Start</label>
                  </div>
                  <div class="input-field col s12">
                    <input placeholder="Fisherman's Wharf" id="end" name="end" type="text">
                    <label for="end">End</label>
                  </div>
                  <p>
                    <input type="checkbox" id="walking" name="walking"/>
                    <label for="walking">walking</label>
                  </p>
                  <p>
                    <input type="checkbox" id="bicycling" name="bicycling"/>
                    <label for="bicycling">bicycling</label>
                  </p>
                  <p>
                    <input type="checkbox" id="driving" name="driving"/>
                    <label for="driving">driving</label>
                  </p>
                  <p>
                    <input type="checkbox" id="transit" name="transit"/>
                    <label for="transit">transit</label>
                  </p>
                  <p>
                    <input type="checkbox" id="scooter" name="scooter"/>
                    <label for="scooter">scooter</label>
                  </p>
                  <p>
                    <input type="checkbox" id="uber" name="uber"/>
                    <label for="uber">uber</label>
                  </p>
                  <div class="input-field col s4 offset-m4">
                    <input type="submit" class="waves-effect waves-light btn" value="Get Best Directions">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- calculating-card -->
        <div class="card" id="calculating-card" hidden>
          <div class="card-image">
            <img src="/static/images/calculating.gif" alt="calculating">
            <span class="card-title">We're Crunching the Numbers</span>
          </div>
        </div>

        <!-- results-card -->
        <div class="card blue-grey darken-1" id="results-card" onmouseover="ga('send', 'event', 'results-card', 'mouseover'); console.log('event sent'); this.onmouseover = null;" hidden>
          <div class="card-content white-text">
            <span class="card-title">Resulting Trip</span>
              <!-- TODO: map-view -->
              <div class="card-action">
                <!-- <a href="#">This is a link</a>
                <a href="#">This is a link</a> -->
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- custom scripts -->
  <script src="static/js/main.js"></script>
</body>
</html>
